@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    margin-bottom: 30px;
}

header h1{
    margin: 0;
}

header h1 a{
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    text-decoration: none;

}